html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%; 
    background-image: url('/Content/Images/bg-main.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
}


.iti-flag {
    background-image: url(Images/flags.png);
}

.intl-tel-input {
    width: 100%;
    display: block!important;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#main {
    text-align: center;
    color: white;
}

#main .intro-text {
    padding-top: 150px;
    padding-bottom: 150px;
}

#main .main-text {
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 10px black;
}

.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.text-primary a {
    color: #f5a90a;
}

.personal {
    background-color: #f0f2f4;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 0px 0px 8px 8px;
}

.personal .info {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
    border-radius: 8px 8px 8px 8px;
    margin-top: 30px;
    padding: 0;
}

.personal .info-name {
    background-color: #424242;
    padding: 10px;
    border-radius: 8px 8px 0px 0px
}

.personal .info-content {
    background-color: #f9f9f9;
    border-radius: 0px 0px 8px 8px;
    padding: 20px
}


.personal h3 {
    color: white;
    margin: 0 auto;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}